@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

.customcolor{
    background-color: #28A745;
}

header .color {
    color: #ffffff;
}

.navbar-toggler{
    color:#ffffff
}

.producto {
    width: 18rem;
    font-family: 'Helvetica', sans-serif;
  }
  
  .producto .marca {
    color: #757575;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  
  .producto .ubicacion {
    color: #757575;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  
  .producto hr {
    border-top: 1px solid #ddd;
    margin: 10px 0;
  }
  
  .producto .precio {
    font-size: 1rem;
  }
  
  .producto .precio .original {
    color: #888;
    margin-right: 0.5rem;
  }
  
  .producto .precio .oferta {
    color: #28a745;
    font-weight: bold;
    font-size: 1.2rem;
  }